body.login #user_login,
body.login #user_pass {
    color: #414142 !important;
}

#lostpasswordform #user_login {
	margin-top: 10px;	
}

#login form p.submit input {
    text-shadow: none;
}

#resetpassform .password-input-wrapper {
    width: 100%;
    margin-top: 10px;
}

#resetpassform .password-input-wrapper #pass1-text {
    width: 100%;
    color: #414142 !important;
}

#resetpassform .password-input-wrapper #pass1-text + span.button {
	width: 42px;
}

#loginform ::-webkit-input-placeholder,
#lostpasswordform ::-webkit-input-placeholder {
    color: #414142 !important;
}

#loginform ::-moz-placeholder,
#lostpasswordform ::-moz-placeholder {
    color: #414142 !important;
}

#loginform :-ms-input-placeholder,
#lostpasswordform :-ms-input-placeholder {
    color: #414142 !important;
}

#loginform :-moz-placeholder,
#lostpasswordform :-moz-placeholder {
    color: #414142 !important;
}