/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/

	#learndash_profile #course_list > div h4 > p.classes {
		font-size: 14px;
		font-weight: 600;
		padding-left: 30px !important;
		padding-right: 68px;
		position: relative;
		line-height: 1.2;
	}

}/* don't delete this closing bracket */

.notes-container {
	margin-bottom: 12px;
}

.note-header {
	box-sizing: border-box;
	padding: 12px;
	background-color: #f8f8f8;
	font-size: 20px;
	font-weight: 700;
}

.note-header a:hover {
	color: black !important;
}

.expand-collapse {
	float: right;
	background-color: rgb(205, 215, 226);
	color: black !important;
	padding: 0px 6px;
}

.note {
	box-sizing: border-box;
	padding: 12px;
	background-color: white;
	overflow: auto;
}

.note-timestamp {
	font-weight: bold;
	float: right;	
}

.rm-tabs {
	overflow: auto;
}

.rm-tabs .rm-tab-option {
	float: left;
	margin-right: 8px;
	padding: 16px;
	font-size: 16px;
	background-color: rgb(210, 210, 210);
}

.rm-tabs .rm-tab-option.selected {
	background-color: white;
}

#settings-form label[for=pass1],
#settings-form #pass1,
#settings-form #pass-strength-result,
#settings-form label[for=pass2],
#settings-form #pass2 {
	display: none;
}

#settings-form #email {
	margin-bottom: 0px;
}

.cant-test .wpProQuiz_button[name=restartQuiz], .cant-test .wpProQuiz_button[name=startQuiz] {
	display: none;
}

.rm-upload-video:before {
	content: "\f03d" !important;
}

/********** All pages: Sidebar Section **********/
.current_page_item a:before {
	color: #fff !important;
}

#left-panel ul li a span.count {
	background: #fff;
	color: #861317 !important;
}

/********** Homepage  **********/
body.home-page .pagination-below {
	margin: 0;
}

body.home-page article.page {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/********** Homepage: Courses Section  **********/
#course-list-wrap {
    margin-left: 25px !important;
    margin-right: 25px !important;
}

#course-list-wrap .sensei-course-meta {
	padding-top: 5px;
}

#course-list-wrap .course-inner .price {
	background: #4aaf83;
	display: none;
}

#course-list-wrap .course-inner .price:before {
	border-top: 4px solid #4f9878;
	border-right: 4px solid #4f9878;
}

#course-list-wrap .ld-course-list-content {
	display: flex;
	flex-wrap: wrap;
}

#course-list-wrap .ld-course-list-content .course.type-sfwd-courses {
	float: none;
}

#course-list-wrap .ld-course-list-content .course.type-sfwd-courses:last-child {
    margin-bottom: 33px;
}

#course-list-wrap .ld-course-list-content .course.type-sfwd-courses {
	width: 100% !important;
}

@media (min-width: 992px) {
	#course-list-wrap .ld-course-list-content .course.type-sfwd-courses {
		width: 50% !important;
	}
}

@media (min-width: 1200px) {
	#course-list-wrap .ld-course-list-content .course.type-sfwd-courses {
		width: 33.33% !important;
	}
}

/********** Homepage: Slider Section  **********/
body.home-page article.page {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body.home-page article.page .vc_custom_1513059185887 .vc_column-inner {
	padding-top: 0;
}

body.home-page article.page .vc_custom_1513059185887 .vc_column-inner .wpb_revslider_element {
	margin-bottom: 0;
}

/********** Cart Page **********/
.woocommerce-cart-form .shop_table {
    background: #fff;
    font-size: 1rem;
}

.woocommerce-cart-form .shop_table tr.cart_item td.product-remove a.remove {
	margin: auto;
    float: none;
}

.woocommerce-cart-form .shop_table tr.cart_item td.product-thumbnail a img,
.woocommerce-cart-form .shop_table tr.cart_item td.product-thumbnail img {
    margin-top: 10px;
}

.woocommerce-cart-form  .shop_table button[name='update_cart'] {
	opacity: 1 !important;
    background: #c12026 !important;
	padding: 12px !important;
}

.woocommerce-cart-form  .shop_table button[name='update_cart']:hover {
	color: #fff !important;
}

.woocommerce-cart-form  .shop_table button[name='update_cart']:disabled {
	opacity: 1 !important;
    background: #fff !important;
    color: #737373 !important;
}

.cart_totals .wc-proceed-to-checkout .checkout-button {
	font-size: 1rem !important;
    min-width: 250px;
}

.cart_totals .shop_table th,
.cart_totals .shop_table td,
.woocommerce-Price-amount {
	font-size: 1rem !important;
}

/********** WooCommerce Pages **********/
.woocommerce-message {
	border-top-color: #4aaf83;
}

.woocommerce-message::before {
	color: #4aaf83;
}

/********** Single Course Page **********/
body.single-sfwd-courses .course-header {
	padding: 45px 65px;
	background: #dfe4ec;
}

body.single-sfwd-courses .course-header .table.top .table-cell.image img.wp-post-image {
	border-color: #c12026;
	border: none;
}

body.single-sfwd-courses .course-header .table.top .table-cell.content > span {
	color: #c12026;
}

body.single-sfwd-courses .course-header .table.top .table-cell.content > header > h1 {
    color: #c12026;
}

body.single-sfwd-courses .course-header .table.bottom .table-cell.categories .post-categories > li > a {
    color: #c12026;
    border-color: #c12026;
}

body.single-sfwd-courses .course-header .table.bottom .table-cell.progress .progress-wrap .course-completion-rate {
    color: #c12026;
}

body.single-sfwd-courses .course-header .table.bottom .table-cell.progress .progress-wrap .percent {
    color: #c12026;
}

body.single-sfwd-courses .course-header .table.bottom .table-cell.progress .progress-wrap .course_progress {
	margin: 10px 0 0 0 !important;
	padding: 0 !important;
	max-width: 100%;
}

body.single-sfwd-courses .course-header .table.bottom .table-cell.progress .progress-wrap .course_progress .course_progress_blue {
    background: #4aaf83 !important;
}

body.single-sfwd-courses #course-details .course-buttons #learndash_course_status {
	border: none;
	color: #c12026;
}

body.single-sfwd-courses #course-details .course-buttons #learndash_course_status i {
	display: none;
}

body.single-sfwd-courses .learndash_lessons .lessons_list .learndash_topic_dots ul li {
    background: #fff !important;
}

body.single-sfwd-courses .learndash_lessons .lessons_list .learndash_topic_dots ul li a {
    background: #fff !important;
}

body.single-sfwd-courses .learndash_lessons .lessons_list .learndash_topic_dots ul li a:before {
	color: #4aaf83;
}

body.single-sfwd-courses #learndash_course_content #lesson_heading .expand_collapse {
	color: #fff;
}

body.single-sfwd-courses #learndash_course_content #lesson_heading .expand_collapse a:first-child {
    margin-right: 3px;
}

body.single-sfwd-courses #learndash_course_content #lesson_heading .expand_collapse a:last-child {
    margin-left: 3px;
}

body.single-sfwd-courses #learndash_course_content #lesson_heading .expand_collapse a {
    background: #c12026 !important;
    color: #ffffff !important;
}

body.single-sfwd-courses #learndash_quizzes h4 > a {
    margin-left: 14px;
}

body.single-sfwd-courses #learndash_quizzes h4 > a:before {
    color: #4aaf83 !important;
    margin-left: 31px !important;
    top: 5px !important;
    font-size: 20px;
}

body.single-sfwd-courses #learndash_quizzes h4 > a.completed:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    top: 0;
    content: "\f00c" !important;
    color: #ffffff !important;
    background: #4aaf83;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    width: 14px !important;
    border: 3px solid #4aaf83;
    border-radius: 30rem;
    font-size: 9px !important;
    height: 11px !important;
    padding-top: 3px;
    margin-left: 36px !important;
}

/********** Lesson Page **********/
body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li:nth-child(even) {
    background: #fff !important;
}

body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li:nth-child(even) a {
    background: #fff !important;
}

body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li a:before {
    color: #4aaf83;
}

body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li a.topic-completed:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	top: 0;
	content: "\f00c" !important;
	color: #ffffff !important;
	background: #4aaf83;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	text-align: center;
	width: 14px !important;
	border: 3px solid #4aaf83;
	border-radius: 30rem;
	font-size: 9px !important;
	height: 11px !important;
	padding-top: 3px;
	margin-left: 36px !important;
	top: 2px;
}

body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li a.topic-notcompleted:before {
    margin-left: 31px !important;
    top: 2px;
}

body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li {
    background: #fff;
}

body.single-sfwd-lessons #learndash_lesson_topics_list .learndash_topic_dots ul li a {
    background: #fff;
}

body.single-sfwd-lessons #learndash_quizzes #quiz_list h4 a.notcompleted:before {
    color: #d6d8da;
}

body.single-sfwd-lessons #learndash_quizzes #quiz_list h4 {
    background: #fff;
}

body.single-sfwd-lessons #learndash_quizzes #quiz_list h4 a {
    background: #fff;
}

body.single-sfwd-lessons #learndash_quizzes #quiz_list h4 a.completed:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    top: 0;
    content: "\f00c" !important;
    color: #ffffff !important;
    background: #4aaf83;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-align: center;
    width: 14px !important;
    border: 3px solid #4aaf83;
    border-radius: 30rem;
    font-size: 9px !important;
    height: 11px !important;
    padding-top: 3px;
    margin-left: 36px !important;
    top: 4px !important;
}

body.single-sfwd-lessons #learndash_quizzes #quiz_list h4 a.notcompleted:before {
    color: #4aaf83 !important;
    margin-left: 31px !important;
    top: 5px !important;
    font-size: 20px;
}

.learndash_post_sfwd-topic #learndash_back_to_lesson a .fa:before {
	font: normal normal normal 14px/1 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0,0);
	content: "\f060";
	margin-right: 5px;
	font-size: 14px;
}

/********** Topic Page **********/
.single-sfwd-topic .learndash_post_sfwd-topic .learndash_topic_dots a {
    background: none;
}

.single-sfwd-topic .learndash_post_sfwd-topic .learndash_topic_dots a:before {
    color: #4aaf83;
}

/********** Quiz Page **********/
.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem {
	background-color: #fff;
    border-radius: 3px;
    padding: 20px 25px 25px;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList {
    background: none !important;
    border: none;
    padding: 0;
    margin-bottom: 15px;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem {
	padding: 0;
	border-radius: 3px;
	margin-bottom: 15px;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem:last-child {
	margin-bottom: 0;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem:last-child table {
	margin-bottom: 0;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem label {
	cursor: pointer;
    border-radius: 3px;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem label strong:before {
    box-shadow: 0 0 0 2px #c3cad2;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem label.selected {
    border: 2px solid #4aaf83;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerCorrect label.selected {
    background: #88e0ba !important;
    border: 2px solid #88e0ba !important;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_question ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect label.selected {
    background: #e8b2b2 !important;
    border: 2px solid #e8b2b2 !important;
}

.single-sfwd-quiz .wpProQuiz_quiz ol.wpProQuiz_list li.wpProQuiz_listItem .wpProQuiz_QuestionButton {
    border-radius: 3px !important;
    min-width: 100px;
    font-size: .9rem;
    padding: 8px 14px;
	margin-top: 10px;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_button[name="startQuiz"] {
    border-radius: 3px !important;
    min-width: 150px;
    font-size: .9rem;
    padding: 10px 14px;
    line-height: 22px;
    box-shadow: none;
    background: #c12026 !important;
    text-transform: uppercase;
    outline: none !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion {
    border: none;
    background: none !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol {
    margin-top: 0px !important;
    background: none !important;
    padding: 0;
    margin: 0;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol > li {
    padding: 5px;
    margin: 5px;
    box-shadow: none;
	border: 2px solid #fffffe;
    border-radius: 3px;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol > li.wpProQuiz_reviewQuestionSolved {
    border: 2px solid #4aaf83 !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol > li.wpProQuiz_reviewQuestionTarget {
    border: 2px solid #bd222a !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewLegend {
    margin: 15px 0;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewLegend > ol > li + li {
    margin-left: 10px;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewLegend > ol > li:first-child .wpProQuiz_reviewColor {
	background: #4aaf83 !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_button2 {
    border-radius: 3px !important;
    min-width: 100px;
    font-size: .9rem;
    padding: 10px 14px;
    line-height: 22px;
    box-shadow: none;
    background: #c12026 !important;
    text-transform: uppercase;
    outline: none !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_sending dd.course_progress {
    max-width: 100% !important;
    margin: 10px 0 !important;
    padding: 0 !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_sending dd.course_progress .sending_progress_bar {
    background: #4aaf83 !important;
}

.wpProQuiz_questionList input[type=checkbox]:checked+strong:after {
	background-color: #4aaf83 !important;
}

.wpProQuiz_questionList input[type=checkbox]+strong:before {
    top: 3px !important;
}

input[type="checkbox"].styled:checked + span:after,
input[type="checkbox"].styled:checked + label:after,
input[type="checkbox"].styled:checked + strong:after {
    top: 5px !important;	
}

.wpProQuiz_matrixSortString {
	padding: 0 !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	border: none !important;
}

.wpProQuiz_matrixSortString ul.wpProQuiz_sortStringList {
	padding: 0 !important;
}

.wpProQuiz_matrixSortString ul.wpProQuiz_sortStringList li.wpProQuiz_sortStringItem {
	float: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	box-shadow: none !important;
}

.wpProQuiz_matrixSortString ul.wpProQuiz_sortStringList li.wpProQuiz_placehold {
	float: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
    padding: 0 !important;
    border: 2px dashed #c3cad2 !important;
    margin-top: 10px !important;
    background: none !important;
    border-radius: 3px !important;
    min-height: 45px !important;
}

.wpProQuiz_matrixSortString ul.wpProQuiz_sortStringList li + li {
	margin-top: 15px !important;
}

ul.wpProQuiz_questionList[data-type="matrix_sort_answer"] {
    margin-top: 15px;	
}

ul.wpProQuiz_questionList[data-type="matrix_sort_answer"] table {
	font-size: 1rem;
}

ul.wpProQuiz_questionList[data-type="matrix_sort_answer"] table tr.wpProQuiz_mextrixTr td div.wpProQuiz_maxtrixSortText {
    padding: 15px!important;
}

ul.wpProQuiz_questionList[data-type="matrix_sort_answer"] table tr.wpProQuiz_mextrixTr td ul.wpProQuiz_maxtrixSortCriterion li.wpProQuiz_sortStringItem {
	box-shadow: none;
	padding: 10px 18px 12px !important;
	border-radius: 3px;
}

ul.wpProQuiz_maxtrixSortCriterion.ui-sortable {
	margin: 5px !important;
}

ul.wpProQuiz_maxtrixSortCriterion.ui-sortable li.wpProQuiz_placehold {
	float: none !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	padding: 0 !important;
	border: 2px dashed #4aaf83 !important;
	background: #f3f3f3 !important;
	border-radius: 3px !important;
	min-height: 45px !important;
}

ul.wpProQuiz_maxtrixSortCriterion.ui-sortable li.wpProQuiz_sortStringItem {
	box-shadow: none !important;
	border-color: #4aaf83 !important;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem .wpProQuiz_sortable {
	padding: 10px 18px 12px !important;
	border: none;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerCorrect {
    border-color: #88e0ba !important;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerCorrect .wpProQuiz_sortable {
    background: #88e0ba !important;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect {
    border-color: #e8b2b2 !important;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect .wpProQuiz_sortable {
    background: #e8b2b2 !important;
}


.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_results .wpProQuiz_button[name="restartQuiz"],
.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_results .wpProQuiz_button[name="reShowQuestion"],
.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_results .wpProQuiz_button[name="reShowQuestion"] + a {
    border-radius: 3px !important;
    min-width: 180px;
    font-size: .9rem;
    padding: 10px 14px;
    line-height: 22px;
    box-shadow: none;
    background: #c12026 !important;
    text-transform: uppercase;
    outline: none !important;
    border: none;
    color: #fff !important;
    margin: 0;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_results .wpProQuiz_button[name="reShowQuestion"] + a {
    margin-left: 5px;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_results .wpProQuiz_button[name="reShowQuestion"] {
    margin-left: 5px !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_response {
	box-shadow: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_response .wpProQuiz_incorrect,
.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_response .wpProQuiz_correct {
	background: none !important;
	padding: 0 !important;
	margin: 0 !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_response .wpProQuiz_correct {
	color: #4aaf83 !important;
}

.single-sfwd-quiz .learndash_post_sfwd-quiz .wpProQuiz_content .wpProQuiz_response .wpProQuiz_incorrect {
    color: #c12026 !important;
}

ul.wpProQuiz_sortStringList li.wpProQuiz_sortStringItem {
    padding: 10px 17px 12px !important;
}

ul.wpProQuiz_questionList.ui-sortable li.wpProQuiz_questionListItem .wpProQuiz_sortable {
	padding: 10px 17px 12px !important;
	box-shadow: none;
	border: none;
}

ul.wpProQuiz_questionList.ui-sortable li.wpProQuiz_questionListItem,
ul.wpProQuiz_maxtrixSortCriterion.ui-sortable li.wpProQuiz_sortStringItem {
    margin-bottom: 15px !important;
}

.wpProQuiz_mextrixTr ul.wpProQuiz_maxtrixSortCriterion.ui-sortable li.wpProQuiz_sortStringItem {
	margin-bottom: 0 !important;
}

ul.wpProQuiz_questionList .wpProQuiz_questionListItem label {
    padding: 10px 6px 12px !important;
}

.wpProQuiz_questionList input[type=checkbox]+strong:before, .wpProQuiz_questionList input[type=radio]+strong:before {
	top: 3px !important;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem label {
    vertical-align: middle;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerCorrect .wpProQuiz_mextrixTr ul.wpProQuiz_maxtrixSortCriterion li.wpProQuiz_sortStringItem {
    border: 2px solid #88e0ba;
    background: #88e0ba !important;
}

ul.wpProQuiz_questionList li.wpProQuiz_questionListItem.wpProQuiz_answerIncorrect .wpProQuiz_mextrixTr ul.wpProQuiz_maxtrixSortCriterion li.wpProQuiz_sortStringItem {
    border: 2px solid #e8b2b2;
    background: #e8b2b2 !important;
}

/********** Profile Page **********/
.entry-buddypress-content #nav-bar-filter li.hideshow {
	min-width: 230px;
}

.bp-group-discussion a {
	text-transform: uppercase;
	background: none !important;
	color: #c11f26 !important;
	border: 2px solid #c11f26 !important;
	padding: 12px 4px 11px !important;
	width: 200px !important;
	line-height: 17px !important;
}

.loader-content:after {
    content: '';
    display: block;
    margin: 35px 0 0 15px;
    font-size: 5px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.5), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.5), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.5), 2.5em 0em 0 0em rgba(193, 32, 38, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.5), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.5), 0em 2.5em 0 0em rgba(193, 32, 38, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.5), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.5), -2.6em 0em 0 0em rgba(193, 32, 38, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.5), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.5), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.5), 2.5em 0em 0 0em rgba(193, 32, 38, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.5), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.2), -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.5), 0em 2.5em 0 0em rgba(193, 32, 38, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(193, 32, 38, 0.2), -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.5), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(193, 32, 38, 0.2), 1.8em -1.8em 0 0em rgba(193, 32, 38, 0.2), 2.5em 0em 0 0em rgba(193, 32, 38, 0.2), 1.75em 1.75em 0 0em rgba(193, 32, 38, 0.2), 0em 2.5em 0 0em rgba(193, 32, 38, 0.2), -1.8em 1.8em 0 0em rgba(193, 32, 38, 0.5), -2.6em 0em 0 0em rgba(193, 32, 38, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

#learndash_profile #course_list-wrap #course_list h4 .learndash_profile_quizzes > div > .quiz_title > span:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #ffffff !important;
    margin-top: 3px;
    vertical-align: top;
    text-align: center;
    width: 10px !important;
    border-radius: 30rem;
    font-size: 7px !important;
    height: 8px !important;
    padding-top: 2px;
}

#learndash_profile #course_list-wrap #course_list h4 .learndash_profile_quizzes .failed .quiz_title .failed_icon:before {
    content: "\f00d" !important;
    background: #c12026;
    border: 3px solid #c12026;
}

#learndash_profile #course_list-wrap #course_list h4 .learndash_profile_quizzes .passed .quiz_title .passed_icon:before {
    content: "\f00c" !important;
    background: #4aaf83;
    border: 3px solid #4aaf83;
}

#learndash_profile #course_list-wrap #course_list h4 .learndash_profile_quizzes .pending .quiz_title .pending_icon:before {
    content: "\f00d" !important;
    background: #f6f6f7;
    border: 2px solid #dabdbe;
    width: 12px !important;
    height: 10px !important;
}

#learndash_profile #course_list-wrap #course_list h4 .learndash_profile_quizzes .pending .quiz_title {
    padding-top: 21px;
    padding-left: 32px;
}

#learndash_profile #course_list-wrap #course_list h4 .learndash_profile_quizzes .passed .scores {
	color: #4aaf83;
}